.FadeIn {
  animation: fade-in 0.25s linear backwards;
}

.SlideLeftFadeIn {
  animation: slide-left-fade-in 0.25s linear backwards 0.25s;
}

.SlideLeftFadeInWhenFirstShown {
  animation: slide-left-fade-in 0.25s linear backwards 0.5s;
}

.SlideLeftFadeInWhenSecondShown {
  animation: slide-left-fade-in 0.25s linear backwards 0.75s;
}

@keyframes slide-left-fade-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
