.boardContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.boardContainer,
.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  position: relative;
}

.board * {
  pointer-events: none;
}
