.Button {
  user-select: none;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  box-shadow: #888 1px 1px 5px;
}

.Button:active {
  transition: all 0.5s;
  transform: scale(0.8);
}

.ButtonGroup {
  width: 100%;
  height: 70px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ButtonDenseGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
