.SlideTopWhenLogoDrawn {
  width: 250px;
  height: 90px;
  animation: slide-top 0.5s linear backwards 1s;
}

.SlideDownFadeInWhenLogoDrawn {
  width: 200px;
  height: 70px;
  animation: slide-down-fade-in 0.5s linear backwards 1s;
}

@keyframes slide-top {
  from {
    transform: translateY(35px);
  }
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-35px);
  }
}
