.EmphasizedPiece {
  animation-name: piece-flickering;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

.FlickeringPiece {
  animation-name: piece-flickering;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.DroppedPiece {
  animation-name: piece-dropped;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.BouncingPiece {
  animation-name: piece-bouncing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.DroppedEmphasizedPiece {
  animation-name: piece-dropped, piece-flickering;
  animation-duration: 0.5s, 1s;
  animation-delay: 0s, 0.5s;
  animation-iteration-count: 1, 2;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
}

.DroppedFlickeringPiece {
  animation-name: piece-dropped, piece-flickering;
  animation-duration: 0.5s, 1s;
  animation-delay: 0s, 0.5s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
}

.DroppedBouncingPiece {
  animation-name: piece-dropped, piece-bouncing;
  animation-duration: 0.5s, 1s;
  animation-delay: 0s, 0.5s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), linear;
}

@keyframes piece-bouncing {
  0%,
  100% {
    transform: translate(0.5px, 0.5px) scale(0.8);
  }

  50% {
    transform: translate(-0.5px, -0.5px) scale(1.2);
  }
}

@keyframes piece-flickering {
  from {
    opacity: 0;
  }
}

@keyframes piece-dropped {
  from {
    transform: translate(-2px, -2px) scale(2);
  }
}
