.DrawLineAndFill > path {
  stroke-dasharray: 200;
  animation: draw-line-and-fill 1s backwards 0.25s;
}

.DrawLineOfTrack > path {
  fill: transparent;
  stroke: #888;
  stroke-dasharray: 50;
  animation: draw-track 1s linear infinite;
}

.DrawLineAndFill > path,
.DrawLineOfTrack > path {
  fill: #888;
  stroke: transparent;
  stroke-width: 2px;
}

@keyframes draw-line-and-fill {
  0% {
    fill: transparent;
    stroke: #888;
    stroke-dashoffset: 200;
  }

  80% {
    fill: transparent;
    stroke: #888;
    stroke-dashoffset: 0;
  }
}

@keyframes draw-track {
  0% {
    stroke-dashoffset: 200;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
