.DrawingRoute {
  animation-name: draw-line;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.ErasedRoute {
  animation-name: erase-line;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* IE not support draw-line effect */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .Route {
    stroke-dasharray: 0 !important;
    stroke-dashoffset: 0 !important;
  }
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes erase-line {
  12% {
    opacity: 0;
  }

  36% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  72% {
    stroke: #ddd;
    opacity: 1;
  }

  100% {
    stroke: #ddd;
    opacity: 0;
  }
}
